server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/library_db
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver

  thymeleaf:
    cache: false
